In [2]:
import pandas as pd

In [3]:
#set file path
file_path = ("Resources/Chicago_Public_Schools_-_School_Progress_Reports_SY1819.csv")

In [4]:
#read in csv as a dataframe
progress_df = pd.read_csv(file_path)
progress_df.head()

,School_ID,Short_Name,Long_Name,School_Type,Primary_Category,Address,City,State,Zip,Phone,...,Attainment_SAT_Grade_11_School_Pct,Attainment_SAT_Grade_11_School_Lbl,Attainment_All_Grades_School_Pct,Attainment_All_Grades_School_Lbl,Growth_PSAT_Math_Grade_10_School_Pct,Growth_PSAT_Math_Grade_10_School_Lbl,Growth_SAT_Reading_Grade_11_School_Pct,Growth_SAT_Reading_Grade_11_School_Lbl,Growth_SAT_Math_Grade_11_School_Pct,Growth_SAT_Math_Grade_11_School_Lbl
0,609869,LANGFORD,Anna R. Langford Community Academy,Neighborhood,ES,6010 S THROOP ST,Chicago,Illinois,60636,7.735359e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,610225,WHISTLER,John Whistler Elementary School,Neighborhood,ES,11533 S ADA ST,Chicago,Illinois,60643,7.735356e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,609734,TAFT HS,William Howard Taft High School,Neighborhood,HS,6530 W BRYN MAWR AVE,Chicago,Illinois,60631,7.735341e+09,...,45.6,45.6,56.4,56.4,28.0,28th,50.0,50th,34.0,34th
3,610588,RICHARDSON,Robert J. Richardson Middle School,Neighborhood,MS,6018 S KARLOV,Chicago,Illinois,60629,7.735359e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,609894,DRAKE,John B Drake Elementary School,Neighborhood,ES,2710 S DEARBORN ST,Chicago,Illinois,60616,7.735349e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#organize by school ID and re-index
df = progress_df.sort_values("School_ID")

In [6]:
#select only School Id, student attendance, suspensions, and teacher attendance fields (not enough data to add school facility questions)
df_select = progress_df[["School_ID", "Long_Name", "Student_Attendance_Year_1_Pct", "Suspensions_Per_100_Students_Year_1_Pct", "Teacher_Attendance_Year_1_Pct"]]

In [7]:
#drop any rows with empty fields
df_select = df_select.dropna(how="any")

In [8]:
#sort by school name
df_ordered = df_select.sort_values(["Long_Name"], ascending=True)
df_ordered

,School_ID,Long_Name,Student_Attendance_Year_1_Pct,Suspensions_Per_100_Students_Year_1_Pct,Teacher_Attendance_Year_1_Pct
166,610229,A.N. Pritzker School,94.8,3.4,93.1
374,610038,Abraham Lincoln Elementary School,95.8,0.1,95.5
169,610281,Adam Clayton Powell Paideia Community Academy ES,94.5,7.1,95.2
207,610185,Adlai E Stevenson Elementary School,95.3,1.1,94.3
604,609993,Agustin Lara Elementary Academy,95.4,0.4,96.3
...,...,...,...,...,...
180,610172,William T Sherman Elementary School,95.9,11.1,94.5
478,609844,William W Carter Elementary School,96.5,5.5,98.2
476,610088,Wolfgang A Mozart Elementary School,95.4,4.7,95.5
301,609977,Woodlawn Community Elementary School,94.8,0.0,93.8
146,610392,World Language Academy High School,90.8,4.2,94.1

In [9]:
#reindex by new school ID order
df_indexed = df_ordered.reset_index(drop=True)
df_indexed.head()
df_indexed.to_csv("resources/final_data")

In [269]:
#Clean the school names that differ

#df_indexed.loc[df_indexed['School' in df_indexed ['Long_Name']]]

long_names = list(df_indexed['Long_Name']) 
long_names

for name in long_names:
    new_name = name.split(' ')
    if new_name[-2] == 'Elementary':
        new_name.pop()
        new_name.pop()
        print(new_name)

['Abraham', 'Lincoln']
['Adlai', 'E', 'Stevenson']
['Agustin', 'Lara']
['Alessandro', 'Volta']
['Alex', 'Haley']
['Alexander', 'Graham', 'Bell']
['Alexander', 'Graham']
['Alexander', 'Hamilton']
['Alfred', 'Nobel']
['Ambrose', 'Plamondon']
['Amos', 'Alonzo', 'Stagg']
['Andrew', 'Carnegie']
['Arnold', 'Mireles']
['Arthur', 'A', 'Libby']
['Arthur', 'Dixon']
['Arthur', 'E', 'Canty']
['Arthur', 'R', 'Ashe']
['Asa', 'Philip', 'Randolph']
['Ashburn', 'Community']
['Augustus', 'H', 'Burley']
['Avalon', 'Park']
['Avondale-Logandale']
['Belmont-Cragin']
['Benjamin', 'E', 'Mays']
['Bernhard', 'Moos']
['Beulah', 'Shoesmith']
['Bret', 'Harte']
['Brighton', 'Park']
['Carl', 'von', 'Linne']
['Carrie', 'Jacobs', 'Bond']
['Carroll-Rosenwald', 'Specialty']
['Carter', 'G', 'Woodson', 'South']
['Charles', 'Evans', 'Hughes']
['Charles', 'G', 'Hammond']
['Charles', 'Gates', 'Dawes']
['Charles', 'H', 'Wacker']
['Charles', 'N', 'Holden']
['Charles', 'R', 'Darwin']
['Charles', 'R', 'Henderson']
['Charles', 'S', 'Brownell']
['Charles', 'S', 'Deneen']
['Charles', 'W', 'Earle']
['Chicago', 'Academy']
['Christian', 'Ebinger']
['Christopher', 'Columbus']
['Clara', 'Barton']
['Claremont', 'Academy']
['Columbia', 'Explorers']
['Countee', 'Cullen']
['Cyrus', 'H', 'McCormick']
['Daniel', 'Boone']
['Daniel', 'J', 'Corkery']
['Daniel', 'R', 'Cameron']
['Daniel', 'S', 'Wentworth']
['Daniel', 'Webster']
['DeWitt', 'Clinton']
['Donald', 'Morrill', 'Math', '&', 'Science']
['Douglas', 'Taylor']
['Durkin', 'Park']
['Edgebrook']
['Edison', 'Park']
['Edmond', 'Burke']
['Edward', 'E.', 'Sadlowski']
['Edward', 'Everett']
['Edward', 'K', 'Ellington']
['Edward', 'N', 'Hurley']
['Eli', 'Whitney']
['Eliza', 'Chappell']
['Elizabeth', 'H', 'Sutherland']
['Ella', 'Flagg', 'Young']
['Ellen', 'Mitchell']
['Emiliano', 'Zapata']
['Enrico', 'Tonti']
['Ernst', 'Prussing']
['Esmond']
['Eugene', 'Field']
['Everett', 'McKinley', 'Dirksen']
['Fairfield']
['Federico', 'Garcia', 'Lorca']
['Ferdinand', 'Peck']
['Fernwood']
['Florence', 'Nightingale']
['Fort', 'Dearborn']
['Foster', 'Park']
['Francis', 'M', 'McKay']
['Frank', 'I', 'Bennett']
['Frank', 'L', 'Gillespie']
['Frank', 'W', 'Reilly']
['Franz', 'Peter', 'Schubert']
['Frederic', 'Chopin']
['Frederick', 'Funston']
['Genevieve', 'Melody']
['George', 'B', 'McClellan']
['George', 'F', 'Cassell']
['George', 'Leland']
['George', 'M', 'Pullman']
['George', 'Manierre']
['George', 'Rogers', 'Clark']
['George', 'W', 'Curtis']
['George', 'W', 'Tilton']
['George', 'Washington']
['Grover', 'Cleveland']
['Hannah', 'G', 'Solomon']
['Hanson', 'Park']
['Harold', 'Washington']
['Harriet', 'Beecher', 'Stowe']
['Helen', 'M', 'Hefferan']
['Helge', 'A', 'Haugan']
['Henry', 'Clay']
['Henry', 'D', 'Lloyd']
['Henry', 'H', 'Nash']
['Henry', 'O', 'Tanner']
['Henry', 'R', 'Clissold']
['Hiram', 'H', 'Belding']
['Horace', 'Greeley']
['Horace', 'Mann']
['Ida', 'B', 'Wells', 'Preparatory']
['Ira', 'F', 'Aldridge']
['Irma', 'C', 'Ruiz']
['Irvin', 'C', 'Mollison']
['Isabelle', 'C', "O'Keeffe"]
['Jackie', 'Robinson']
['Jacob', 'Beidler']
['James', 'B', 'Farnsworth']
['James', 'B', 'McPherson']
['James', 'G', 'Blaine']
['James', 'Hedges']
['James', 'Madison']
['James', 'Monroe']
['James', 'N', 'Thorp']
['James', 'Otis']
['James', 'R', 'Doolittle', 'Jr']
['James', 'Russell', 'Lowell']
['James', 'Shields']
['James', 'Wadsworth']
['James', 'Ward']
['James', 'Weldon', 'Johnson']
['Jane', 'A', 'Neil']
['Jane', 'Addams']
['Jean', 'Baptiste', 'Beaubien']
['Jesse', 'Sherwood']
['Johann', 'W', 'von', 'Goethe']
['John', 'A', 'Walsh']
['John', 'B', 'Drake']
['John', 'B', 'Murphy']
['John', 'Barry']
['John', 'C', 'Burroughs']
['John', 'C', 'Coonley']
['John', 'C', 'Dore']
['John', 'Charles', 'Haines']
['John', 'F', 'Eberhart']
['John', 'Fiske']
['John', 'Foster', 'Dulles']
['John', 'Greenleaf', 'Whittier']
['John', 'H', 'Hamline']
['John', 'H', 'Kinzie']
['John', 'J', 'Audubon']
['John', 'L', 'Marsh']
['John', 'M', 'Smyth']
['John', 'Milton', 'Gregory']
['John', 'Palmer']
['John', 'T', 'McCutcheon']
['John', 'W', 'Cook']
['John', 'W', 'Garvy']
['John', 'Whistler']
['Johnnie', 'Colemon']
['Jonathan', 'Burr']
['Jonathan', 'Y', 'Scammon']
['Josefa', 'Ortiz', 'De', 'Dominguez']
['Joseph', 'Brennemann']
['Joseph', 'E', 'Gary']
['Joseph', 'Jungman']
['Joseph', 'Lovett']
['Joseph', 'Warren']
['Josephine', 'C', 'Locke']
['Joshua', 'D', 'Kershaw']
['Josiah', 'Pickard']
['Joyce', 'Kilmer']
['Kate', 'S', 'Kellogg']
['LaSalle', 'II', 'Magnet']
['Langston', 'Hughes']
['Laughlin', 'Falconer']
['Laura', 'S', 'Ward']
['Lazaro', 'Cardenas']
['Leslie', 'Lewis']
['Little', 'Village']
['Louis', 'A', 'Agassiz']
['Louis', 'Nettelhorst']
['Louis', 'Pasteur']
['Ludwig', 'Van', 'Beethoven']
['Luke', "O'Toole"]
['Luther', 'Burbank']
['Lyman', 'A', 'Budlong']
['Mahalia', 'Jackson']
['Mancel', 'Talcott']
['Manuel', 'Perez']
['Marcus', 'Moziah', 'Garvey']
['Mariano', 'Azuela']
['Mark', 'Skinner']
['Mark', 'Twain']
['Marquette']
['Martha', 'Ruggles']
['Marvin', 'Camras']
['Mary', 'E', 'McDowell']
['Mary', 'Gage', 'Peterson']
['Mary', 'Lyon']
['Medgar', 'Evers']
['Melville', 'W', 'Fuller']
['Michael', 'Faraday']
['Michael', 'M', 'Byrne']
['Mildred', 'I', 'Lavizzo']
['Minnie', 'Mars', 'Jamieson']
['Mount', 'Greenwood']
['Mount', 'Vernon']
['Nathan', 'Hale']
['Nathan', 'S', 'Davis']
['Nathanael', 'Greene']
['National', 'Teachers']
['New', 'Field']
['Newton', 'Bateman']
['Norman', 'A', 'Bridge']
['North', 'River']
['Norwood', 'Park']
['Oliver', 'S', 'Westcott']
['Oliver', 'Wendell', 'Holmes']
['Oriole', 'Park']
['Orozco', 'Fine', 'Arts', '&', 'Sciences']
['Orville', 'T', 'Bright']
['Oscar', 'DePriest']
['Pablo', 'Casals']
['Park', 'Manor']
['Patrick', 'Henry']
['Paul', 'Revere']
['Perkins', 'Bass']
['Peter', 'A', 'Reinberg']
['Philip', 'Rogers']
['Phillip', 'D', 'Armour']
['Phoebe', 'Apperson', 'Hearst']
['Portage', 'Park']
['Rachel', 'Carson']
['Ravenswood']
['Richard', 'Edwards']
['Richard', 'Henry', 'Lee']
['Richard', 'J', 'Daley']
['Richard', 'J', 'Oglesby']
['Richard', 'Yates']
['Robert', 'A', 'Black', 'Magnet']
['Robert', 'Fulton']
['Robert', 'Healy']
['Robert', 'L', 'Grimes']
['Robert', 'Nathaniel', 'Dett']
['Ronald', 'E', 'McNair']
['Roswell', 'B', 'Mason']
['Rudyard', 'Kipling']
['Rufus', 'M', 'Hitch']
['almon', 'P', 'Chase']
['auganash']
['tt', 'Joplin']
['aron', 'Christa', 'McAuliffe']
['idney', 'Sawyer']
['ir', 'Miles', 'Davis', 'Magnet']
['rro', 'Sandoval']
['uth', 'Loop']
['tephen', 'Decatur', 'Classical']
['tephen', 'K', 'Hayt']
['Talman']
['Telpochcalli']
['Theodore', 'Herzl']
['Theophilus', 'Schmid']
['Thomas', 'Chalmers', 'Specialty']
['Thomas', 'Drummond']
['Thomas', 'Hoyne']
['Thomas', 'J', 'Waters']
['Virgil', 'Grissom']
['Walt', 'Disney', 'Magnet']
['Walter', 'Q', 'Gresham']
['Walter', 'S', 'Christopher']
['Washington', 'D', 'Smyser']
['Washington', 'Irving']
['Wendell', 'E', 'Green']
['Wendell', 'Smith']
['West', 'Park']
['West', 'Ridge']
['Willa', 'Cather']
['William', 'B', 'Ogden']
['William', 'E', 'B', 'Dubois']
['William', 'E', 'Dever']
['William', 'F', 'Finkl']
['William', 'G', 'Hibbard']
['William', 'H', 'Brown']
['William', 'H', 'Prescott']
['William', 'H', 'Ray']
['William', 'J', 'Onahan']
['William', 'K', 'New', 'Sullivan']
['William', 'P', 'Gray']
['William', 'P', 'Nixon']
['William', 'Penn']
['William', 'T', 'Sherman']
['William', 'W', 'Carter']
['Wolfgang', 'A', 'Mozart']
['Woodlawn', 'Community']

In [ ]:
##################read in teacher salary doc as csv
path = ("resources/EmployeePositionRoster_12312019.csv")
salary_roster = pd.read_csv(path)

In [174]:
#create new dataframe with only relevant columns
salary_df = salary_roster[["Department", "Annual Salary", "Job Title"]]

In [175]:
#Rename columns
Renamed_Salary = salary_df.rename(columns={"Department": "department", "Annual Salary": "Annual_Salary", "Job Title": "Job_Title"})

In [176]:
#Make a new DF with only teachers in the list
teachers_salary = Renamed_Salary[Renamed_Salary.Job_Title.str.contains('Teacher',case=False)]

In [282]:
#group by school to find the mean
mean_salary = teachers_salary.groupby(["department"]).mean()
mean_salary.head()
newest_df = pd.DataFrame(mean_salary).reset_index()
newest_df.head()

                       department  Annual_Salary
0             A N Pritzker School   73607.750000
1  A Philip Randolph Magnet Schoo   79222.030303
2            AUSL Program Support   21420.593750
3          Abraham Lincoln School   69032.612903
4  Adam Clayton Powell Jr Padaeia   75501.944444

In [320]:
fixed_name = list(newest_df['department']) 
#new_df
#long_names

drop_list=set()


for name in long_names:
    new_name = name.split(' ')
    new_name = new_name[:-1]
    drop_list.add(new_name[-1])
#     if new_name is drop_list:
#         new_name=new_name[:-1]
#         print(new_name)
    
        
print(drop_list)

{'College', 'Fine', 'Excellence', 'Alternative', 'at', 'Studies', 'Classical', 'Prep', 'Agricultural', 'Gifted', 'Humanities', 'Community', 'Knowledge', 'Pritzker', 'Academy', 'Science', 'of', 'Multicultural', 'Inclusive', 'Career', 'Center', 'Acad', 'Middle', 'Sciences', 'Scholastic', 'Specialty', 'Primary', 'STEM', 'the', 'Technology', 'Elementary', 'Ctr', 'Preparatory', 'High', 'Language', 'Dual', 'and', 'Bilingual', 'Social', 'Magnet', 'IB', 'Young', 'Academic', 'kinner', 'Arts', 'Coalition'}

In [303]:
#rename the column

In [ ]:
#merge

In [ ]:
#merge!

#merge_df = pd.merge(new_name, mean_salary, on="customer_id", how="left")